# Fluff
REFACTORING_PLAN.md
guides/
PLAN.md

# OS / junk
.DS_Store
._*

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
.melpa
# Android
android/.gradle/
android/app/.cxx/
android/app/build/
android/key.properties
# iOS/macOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Runner.xcuserdatad/
macos/Pods/
macos/build/
# VS Code
.vscode/
# IntelliJ
.idea/
# Xcode
*.xcuserstate
*.xcuserdata/
# Others
.metadata
